body{
    margin: 0;
    padding: 0%;
}

#header{
    
    display: flex;
    justify-content: center;
    flex-flow: column;
    background:  linear-gradient(180deg, rgba(0, 0, 0, 0.92), rgba(19, 18, 18, 0.781) 95.24%, rgba(28, 28, 28, 0.4)),
    url(/src/img/header.png) center center /cover no-repeat;
    height: 40vh;
    width: 100%;

    h1{
        text-align: center;
        
    }

    h3{
        text-align: center;
    }
}